.englobaTudo {
    background-color: #f4f7f5;
}
main {
    width: 80%;
    margin: auto;
}
.conteudo{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.icon-person {
    font-size: 5rem;
}
.custom-carousel-btn{
    background-color: rgba(220, 53, 69, 0.7);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(500%);
    z-index: 1;
}

@media (max-width: 768px) {
    .custom-carousel-btn {
        transform: translateY(250%);
    }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(1);
}

.img-servico {
    max-height: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

@media (max-width: 768px) {
    .img-servico {
        height: 300px;
    }
}
.navbar-brand img {
    height: 60px;
}

@media (max-width: 768px) {
    .bg-sm-navbar {
        background-color: #B2DCAE;
    }
}

.navbar {
    background-color: #B2DCAE;  
    min-height: 30px;
}
.bannerPrincipal img {
    width: 100%;
    height: 500px;
    margin: 0;
}

.redesSociais {
    text-align: center;
    background-color: rgb(230, 223, 223);
}

.redesSociais i {
    margin-left: 40px;
}

#linkredes{
    color: black;
}

#btnenviar{
    background-color: #EAB371;
}
#registo{
    padding: 2rem;
}
#logo{
    width: 9%;
}


.btnVoltar-login {
    color: #B2DCAE;
    font-weight: bold;
}

.btnEntrar-login {
    background-color: #B2DCAE;
}

.imgLogo-login {
    width: 120px;
    height: 80px;
}

#login-email:focus, 
#login-password:focus {
    border-color: #B2DCAE !important;
    outline: none;
}

.icon-estilizado {
    font-size: 48px;
    border: 2px solid #B2DCAE;
    border-radius: 50%; 
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #bdc5bc; 
    background-color: rgb(8, 77, 45);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

.img-home{
    border-radius: 25px;
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    margin: 0 auto;
    display: block;
}